include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt

graft fastcli
recursive-include docs *.md *.rst conf.py Makefile

prune docs/md

global-exclude instance/*
global-exclude __pycache__/*

global-exclude *.swp
global-exclude *.py[co]
global-exclude config.cfg
global-exclude config.ini
global-exclude fastcli.cfg
global-exclude fastcli.ini
